:root {
    --x-color: #FF6600;
    --o-color: #FF0099;
    --grid-color: #33FF00;
    --btn-color: #CC00FF;
    --title-color: #33FF00;
    --font: road_rage;
}

#reset, #new_players_button {
    z-index: 0
}

#toggle {
    display: none;
    position: absolute;
    background-image: url('./styles/5.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

body {
    font-family: var(--font);
}

#container_container {
    display: flex;
    justify-content: center;
    margin-right: 3vh;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
}

#submit {
    font-family: var(--font);
}

#results_container {
    color: var(--btn-color);
    display: flex;
    justify-content: center;
    margin: 1vh 0vh 2vh 3vh;
    font-size: 3.5vh;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 63vh;
    width: 63vh;
    margin: 2vh;
    font-size: 15vh;
}

#player1_name, #player2_name, button {
    font-family: neon;
}


#player1_name, #player2_name {
    width: 100vh;
    font-size: 4vh;;
}

#player1_name {
    position: fixed;
    top: 2%;
    right: 43%;
    color: var(--x-color);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-text-stroke: .1vh var(--x-color);
    -webkit-text-fill-color: rgba(0,0,0,0);
    font-size: 5vh;
}

@-webkit-keyframes glow {
from {
    text-shadow: 0 0 10px var(--x-color), 0 0 20px var(--x-color), 0 0 30px #FD1C03, 0 0 40px #FD1C03, 0 0 50px #FD1C03, 0 0 60px #FD1C03, 0 0 70px #FD1C03;
    }
    to {
    text-shadow: 0 0 20px var(--x-color), 0 0 30px #FF6600, 0 0 40px #FF6600, 0 0 50px #FF6600, 0 0 60px #FF6600, 0 0 70px#FF6600, 0 0 80px #FF6600;
    }
}

@-webkit-keyframes glow1 {
    from {
        text-shadow: 0 0 10px var(--o-color), 0 0 20px var(--o-color), 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
        text-shadow: 0 0 20px var(--o-color), 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
    }

@-webkit-keyframes glow2 {
    from {
        text-shadow: 0 0 10px var(--grid-color), 0 0 20px var(--grid-color), 0 0 30px#33FF00, 0 0 40px #33FF00, 0 0 50px #33FF00, 0 0 60px #33FF00, 0 0 70px #33FF00;
        }
        to {
        text-shadow: 0 0 20px var(--grid-color), 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00, 0 0 60px #00FF00, 0 0 70px #00FF00, 0 0 80px #00FF00;
        }
    }

#player2_name {
    position: fixed;
    top: 2%;
    right: -33%;
    color: var(--o-color);
    -webkit-text-stroke: .1vh var(--o-color);
    -webkit-text-fill-color: rgba(0,0,0,0);
    font-size: 5vh;
}

.square {
    border: .5vh solid var(--grid-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vh;
    width: 21vh;
    font-family: Varela;
}

#square1 {
    border-color: rgba(255, 0, 0, .0) var(--grid-color) var(--grid-color) rgba(255, 0, 0, .0);
}

#square2 {
    border-color: rgba(255, 0, 0, .0) var(--grid-color) var(--grid-color) var(--grid-color);
}

#square3 {
    border-color: rgba(255, 0, 0, .0) rgba(255, 0, 0, .0) var(--grid-color) var(--grid-color);
}

#square4 {
    border-color: var(--grid-color) var(--grid-color) var(--grid-color) rgba(255, 0, 0, .0);
}

#square6 {
    border-color: var(--grid-color) rgba(255, 0, 0, .0) var(--grid-color) var(--grid-color);
}

#square7 {
    border-color: var(--grid-color) var(--grid-color) rgba(255, 0, 0, .0) rgba(255, 0, 0, .0);
}

#square8 {
    border-color: var(--grid-color) var(--grid-color) rgba(255, 0, 0, .0) var(--grid-color);
}

#square9 {
    border-color: var(--grid-color) rgba(255, 0, 0, .0) rgba(255, 0, 0, .0) var(--grid-color);
}

#button_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5vh 60vh 1.5vh 70vh
}

#button_container button {
    border: .1vh solid var(--grid-color);
    border-radius: 1vh;
    height: 6vh;
    background-color: rgba(0,0,0,0);
    font-size: 2.4vh;
    color: var(--grid-color);
    -webkit-text-stroke: .1vh var(--grid-color);
    -webkit-text-fill-color: rgba(0,0,0,0);
    font-size: 4vh;
}

#button_container button:focus {
    outline: none;
    border-radius: 1vh;
    border-color: #E6FB04;
}

#button_container button:hover {
    -webkit-animation: glow2 1s ease-in-out infinite alternate;
    -moz-animation: glow2 1s ease-in-out infinite alternate;
    animation: glow2 1s ease-in-out infinite alternate;
}

#player_select_container {
    position: absolute;
    background-image: url('./styles/1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

#select_center {
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

.title {
    margin: 5vh;
    color: var(--title-color);
    font-size: 5vh;
}

#title1 {
    margin-left: 11vh;
}

#title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 17.5vh;
}

#input_form {
    display: flex;
    justify-content: center;
  
}

#submit {
    background-color: rgba(255, 0, 0, .0);
    color: var(--btn-color);
    border: .1vh solid var(--btn-color);
    border-radius: 1vh;
    font-size: 3vh;
    height: 7vh;
    margin-top: 4vh;
    font-family: 'neon';
    -webkit-text-stroke: .1vh var(--btn-color);
    -webkit-text-fill-color: rgba(0,0,0,0);
    font-size: 5vh;
}

#submit:hover {
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
    -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
 } 

#submit:focus {
    outline: none;
    border-radius: 1vh;
    border-color: #ff4da6;
}

#player1, #player2 {
    margin: 0 1.5vh;
    font-size: 2.5vh;
    font-family: neon;
}

#player1:focus, #player2:focus {
    border-radius: 0;
    outline: none; 
}

.player1 {
    color: var(--x-color);
}

.player2 {
    color: var(--o-color);
}

.player1, .player2 {
    font-size: 3vh;
}

#player1 {
    color: var(--x-color);
    border: none;
    background-color: rgba(255, 0, 0, .0);
}

#player2 {
    color: var(--o-color);
    border: none;
    background-color: rgba(255, 0, 0, .0);
}

#player_select {
    text-align: center;
    margin-bottom: 3vh;
    color: var(--btn-color);
    font-size: 3vh;
}

#form_div {
    margin-left: 14vh
}

@font-face {
    font-family: Varela;
    src: url(./styles/VarelaRound.ttf);
}

@font-face {
    font-family: commando;
    src: url(./styles/commando.ttf);
}

@font-face {
    font-family: neon;
    src: url(./styles/Neon.ttf);
}

@font-face {
    font-family: road_rage;
    src: url(./styles/Road_Rage.otf);
}